#delete-avatar-modal {
  .modal-content {
    width: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .modal-body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding:25px;

      .msg {
        font-size: 20px;
      }

      .btn-group {
        display: flex;
        gap: 10px;
        
        .btn {
          border-radius: 3px;
          height: 45px;
          display: flex;
          gap: 7px;
          align-items: center;
          justify-content: center;
          padding: 0;
          font-size: 17px;
          font-weight: 500;
        }
      }
    }
  }
}



@media screen and (max-width: 576px) {
  #delete-avatar-modal {
    .modal-content {
      width: 320px;
    }
  }
}