.my-posts {
  @extend .posts;
  @include displayFlex(column);
  border-radius: 10px;
  overflow: hidden;
  height: 100%;

  .header {
    @include size(100%, 200px);
    @include displayFlex(column, 5px, center, center);
    background: url('../../assets/images/posts.webp') center no-repeat;
    background-size: cover;

    .title, .total-posts {
      margin: 0;
      color: #fff;
      text-shadow: 1px 1px 3px #000;
    }

    .total-posts {
      @include displayFlex(row, 5px, center);
      font-size: 22px;

      .total {
        font-size: 25px;
        font-weight: 600;
      }
    }
  }

  .main {
    min-height: 370px;
    position: relative;
    padding: 5px 5px 25px;
    @include size(100%, 100%);
    @include displayFlex(column, 15px);

    .actions {
      padding: 5px 5px 0;
      @include size(100%, 50px);
      @include displayFlex(row, 8px, flex-end, center);

      .btn {
        @include size(auto, 40px);
        @include displayFlex(row, 5px, center, center);
        font-size: 17px;

        svg {
          @include size(18px, 18px);
        }
      }

      #select-all {
        input[type="checkbox"] {
          @include size(18px, 18px);
        }
      }
    }

    .post-list {
      padding: 30px 0 0;
      display: grid;
      grid-template: auto / repeat(auto-fill, minmax(380px, 1fr));
      grid-gap: 15px;

      .post-item {
        .post-header {
          @include size(_, 300px);
          position: relative;

          input[type="checkbox"] {
            @include position(absolute, 15px, _, _, 15px);
            @include size(22px, 22px);
          }

          .dropdown {
            position: static;
            width: 0;

            #dropdown-btn {
              @include position(absolute, 15px, 15px);
              padding: 0;

              svg {
                @include size(27px, 27px);
              }

              &::after {
                display: none;
              }
            }

            .dropdown-item {
              @include displayFlex(row, 8px, flex-start, center);
              padding: 5px 18px;
              font-size: 17px;

              &.edit-post {
                svg {
                  @include size(16px, 16px);
                }
              }

              &.share-post {
                svg {
                  @include size(19px, 19px);
                }
              }

              &.delete-post {
                svg {
                  @include size(17px, 17px);
                }
              }
            }
          }
        }
    
        .post-body {
          #desc {
            @include displayBox(145px, 3);
          }
    
          #actions {
            @include displayFlex(_, 22px, center, center);
          }
        }
      }
    }

    .no-data {
      @include noData;
    }
  }
}



@media screen and (max-width: 768px) {
  .my-posts {
    .main {
      margin: 0;
      padding: 10px;
    }
  }
}



@media screen and (max-width: 576px) {
  .my-posts {
    border-radius: 0;
    
    .main {
      background: none !important;
      
      .no-data {
        top: 60%;
      }

      .post-list {
        padding-top: 15px;
        grid-template-columns: 1fr;
      }
    }
  }
}