#select-category-modal {
  .modal-content {
    width: 450px;
    height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .modal-body {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 25px;
      justify-content: space-between;

      .title {
        font-weight: 600;
        letter-spacing: 0.4px;
      }

      .form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        select {
          height: 45px;
        }

        .btn-group {
          display: flex;
          gap: 10px;

          .btn {
            width: 195px;
            border-radius: 5px;
            font-size: 18px;
            font-weight: 500;
            display: flex;
            gap: 5px;
            height: 48px;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}



@media screen and (max-width: 576px) {
  #select-category-modal {
    .modal-content {
      width: 320px;
      height: 280px;

      .modal-body .form .btn-group .btn {
        width: 144px;
      }
    }
  }
}